<!-- Click Icons  -->
<center>
    <div class=" buttons"> 
        <button type="button" id="like-button">
        <i class="fas fa-heart"></i></button> 
                
        <button type="button" id="dislike-button">
        <i class="fas fa-heart-broken"></i></button>   
    </div>
</center>
        
<!--Get Results Button -->
<center>    
    <div class="results-button-box">
        <button type="button" id="results-button">
            <i class="fas fa-play"></i>
            <div class="results-text"> 
                <h2>Get Results</h2>
            </div>
        </button>
    </div>
</center>