<div class="add-button-box">
    <button type="button" id="add-button">
        <i class="fas fa-plus-circle"></i>
        <div class="add-button-text"> 
            <h2>Add Item</h2>
        </div>
    </button>
</div>