<header>
    <div class="title-bar">
        <div id="title-contents">
            <img src="https://i.imgur.com/TtPGLU0.png" alt="Food Tinder Logo">
            <a href="/"><h1 id="title">Food Tinder</h1></a>
        </div>
    </div>
</header>