<center>
<div class=" buttons"> 
    <button type="button" id="like-button">
    <i class="fas fa-heart"></i></button> 
            
    <button type="button" id="dislike-button">
    <i class="fas fa-heart-broken"></i></button>   
</div>
</center>
