<div class="results-button-box">
    <button type="button" id="results-button">
        <i class="fas fa-play"></i>
        <div class="results-text"> 
            <h2>Get Results</h2>
        </div>
    </button>
</div>