<!-- HTML -->
<!DOCTYPE html>
<html>
    <!-- Title and Header Bar -->
    <head>
        <!--
        This 3rd-party stylesheet incorporates SVG icons from Font Awesome:
        http://fontawesome.com/.  Specifically, each of the <i> elements below
        incorporates an icon from Font Awesome.
        -->
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
        <title>Food Tinder</title>
        <link rel="stylesheet" href="/style.css">
        <script src="/results.js" charset="utf-8" defer></script>
    </head>

    <body>

        {{> header}}

        {{{body}}}

    </body>
</html>