{{#section 'script'}}
    <script type="application/javascript" src="/index.js" charset="utf-8" defer></script>
{{/section}}

<main id="instructions-modal">
  <div id="modal-dialogue"> 

    <div class="modal-header">
        <h3>Welcome! Here's How to Use Food Tinder!</h3>
    </div>

    <div id="modal-body">
        <ol>
            <li>You will be presented with a food item</li>
            <li>Each food has a health score and cuisine type </li>
            <li>You can click the 'like' <i class="fas fa-heart"></i> and 'dislike' <i class="fas fa-heart-broken"></i> buttons to select foods</li>
            <li>Once you are finished, press the 'Get Results' button to see your best match!
            </li>
        </ol>
        <center>
            <button type="button" id="modal-close" class="modal-hide-button">OK, Lets Go!</button>
        </center>
        
    </div>
     
  </div>
</main>