body {
    margin: 0;
    width: 100vw;
    font-family: "Work Sans", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #edecec;

}

.title-bar {

    background-color: #b51204;
    color: #fdc782;
    font-size: 42px;
    font-family: Montserrat;
    /* border-radius: 5px; */

}

#title-contents {

    height: 150;

}

#title-contents img {

    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;

}

#title {

    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}

#results-main-box {

    background-color: #fdc782;
    height: 1000px;
    width: 750px;
    border-width: 5px;
    border-color: #000000;
    border-radius: 15px;
    margin: auto;

}

#results-main-box img {

    max-height: 500px;
    max-width: 650px;
    display: block;
    margin: auto;
    border-radius: 15px;

}

#your-results {

    font-size: 32px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;

}

.food-name {

    font-family: Montserrat;
    font-size: 24px;
    padding-left: 20px;

}

.health-score-text, .cuisine-text {

    font-size: 18px;
    padding-left: 20px;

}

.food-box{
    display:flex;
    flex-direction: column;
    max-width: 575px;
    max-height: 100vh;
    background: #fdc782;
    border: 5px, rgb(206, 93, 23); 
    margin: 30px;
    margin-bottom: 0px;
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.food-name-box {
    font-family: Montserrat;
    font-size: 30px;
}

img {
    max-width: 100%;
}

.food-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: 100%;
    padding: 20px;
    padding-top: 0;
}

.buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    max-width: 550px;
    margin: 40px;
}

#like-button{
    background: none;
    border:none;
    padding: 30px;
    background-color: #ee5e4b;;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-size: 100px;
    height: 160px;
    width: 160px;
}

#like-button:hover, #like-button-focus:focus{
    color: white;
    font-size: 120px;
    height: 180px;
    width: 180px;
    background-color: rgb(13, 255, 0);
    margin: -10px;
}

#dislike-button{
    background: none;
    border:none;
    padding: 30px;
    background-color:  #ee5e4b;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-size: 100px;
    height: 160px;
    width: 160px;
}

#dislike-button:hover, #dislike-button-focus:focus{
    color: white;
    font-size: 120px;
    height: 180px;
    width: 180px;
    background-color: rgb(255, 0, 0);
    margin: -10px;
}

#like-button i:hover, #dislike-button i:hover {
    color: white;
}

button:hover{
    cursor: pointer;
}

#results-button{
    background: none;
    border:none;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 90px;
    align-items: center;
    justify-content: center;
}

.results-text {
    margin-left: 15px;
}

.results-text h2{
    font-family: Montserrat;
    font-size: 40px;
    margin: 0;
    padding: 0;
    width: 300px;
}

.results-button-box i {
    position: relative;
    font-size: 30px;
}

#results-button:hover {
    color:rgba(255, 0, 0, 0.868)
}

#results-button:hover i {
    left: 15px;
}

#results-button:hover .results-text h2 {
    font-size: 45px;
}

.recent-div {

    position: absolute;
    top: 25px;
    right: 5px;
    background-color: #fdc782;
    padding: 5px;
    border: #000000;
    border-style: dashed;
}

#modal-body i{
    font-size: 20px;
}
.fa-heart-broken:hover{
    color: rgb(221, 34, 34);
}
.fa-heart:hover{
    color: green;
}

#instructions-modal{
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}


.modal-header {
    position: relative;
    padding: 10px 20px;
}

#modal-close {
    position:relative;
    font-size: 24px;
    font-family: Montserrat;
    border: none;
    background: #fdc782;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

#modal-close:hover {
    background-color: white;
    color: #ff9100;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px; 
}