body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Work Sans", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #edecec;
}

main {
    width: 100%;
    height: 100%;
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0.1;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.title-bar {

    background: linear-gradient(50deg, #c10016, #f45c43);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    font-size: 42px;
    font-family: Montserrat;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    animation: none;

}

#title-contents {

    height: 150;

}

#title-contents img {

    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;

}

#title {

    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    color: #fdc782;
    text-decoration: none;
}

#results-main-box {

    background: linear-gradient(50deg, rgb(191, 81, 69), #FFB88C);
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.results-img-box {

    display: flex;
    border-radius: 50px;
    margin: 20px;
    max-height: 100vh;
    max-width: 900px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    animation: mover 1s infinite alternate;
    position: relative;
    overflow: hidden;

}

.results-img-box::before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 350px;
    height: 200%;
    left: -130%;
    transform: skewX(-30deg);
}

.results-img-box:hover:before {
    animation: slide 3s;
}

.results-info-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    max-height: 650px;
}

.results-header-box, .results-other-info-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#results-title {

    font-size: 32px;
    font-family: Montserrat;
    text-align: center;
    padding-top: 10px;
    margin: 0;

}

.food-name-result {

    font-family: Montserrat;
    font-size: 70px;

}

.health-score-result, .cuisine-result {

    font-size: 25px;

}

/* https://www.w3schools.com/howto/howto_css_flip_card.asp */
.food-box{
    max-width: 575px;
    background-color: transparent;
    font-size: 20px;
    perspective: 5000px;
    cursor: pointer;
    height: max-content;
    margin-top: 40px;
}

.food-box-inner {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    height: max-content
}

.food-box:active .food-box-inner{
    transform: rotateY(180deg);
}

.food-box-front, .food-box-back {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-height: 100vh; */
    height: max-content;
    backface-visibility: hidden;
    border-radius: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    background: linear-gradient(110deg, #fdc782, #ffa42d);
}
  
.food-box-front {
    color: black;
    position: relative;
}
  
.food-box-back {
    color: white;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    height: 100%;
}

.food-box-back p {
    
    display: block;
}

.food-box-front::before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 170px;
    height: 200%;
    left: -130%;
    border-radius: 10%;
    transform: skewX(-30deg);
}

.food-box-front:hover:before {
    animation: slide 2s;
}

@keyframes slide {
    0%, 100% {
        left: -130%;
    }
    50% {
        left: 110%
    }
}

.food-name-box {
    font-family: Montserrat;
    font-size: 30px;
}

/* .food-img-box img {
    max-height: 72vh;
} */

img {
    max-width: 100%;
}

.food-title {
    text-align: center;
}

.food-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: 100%;
    padding: 20px;
    padding-top: 0;
}

.buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    max-width: 550px;
    max-height: auto;
    margin: 40px;
}

#like-button {
    border:none;
    padding: 30px;
    background: linear-gradient(180deg, #ff8271, #ff452d);
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-size: 100px;
    height: 160px;
    width: 160px;
    margin-bottom: 40px;
}

#like-button:hover, #like-button-focus:focus{
    color: white;
    font-size: 120px;
    height: 180px;
    width: 180px;
    background: rgb(13, 255, 0);
    margin: -10px;
    margin-top: -20px;
    margin-bottom: 20px;
}

#dislike-button{
    border:none;
    padding: 30px;
    background: linear-gradient(180deg, #ff8271, #ff452d);
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-size: 100px;
    height: 160px;
    width: 160px;
    margin-bottom: 40px;
}

#dislike-button:hover, #dislike-button-focus:focus{
    color: white;
    font-size: 120px;
    height: 180px;
    width: 180px;
    background: rgb(255, 0, 0);
    margin: -10px;
    margin-top: -20px;
    margin-bottom: 20px;
}

#like-button i:hover, #dislike-button i:hover {
    color: white;
}

button:hover{
    cursor: pointer;
}

#like-button:hover i, #dislike-button:hover i {
    animation: wiggle 2s infinite;
}

@keyframes wiggle {
    0%{transform: rotate(0deg)}
    3%{transform: rotate(-15deg)}
    6%{transform: rotate(15deg)}
    9%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}

#results-button{
    border:none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 260px;
    border-top-left-radius: 90%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.85);
    background: linear-gradient(50deg, #c10016, #f14227);
    animation: glow 2s;
}

@keyframes glow {
    0%   {
        filter: brightness(1.2);
    }
    100% {
        filter: brightness(1);
    }
}

.results-text h2{
    font-family: Montserrat;
    font-size: 40px;
    margin: 0;
    padding: 0;
    width: 5px;
    position: absolute;
    left: 70px;
    bottom: 20px;
}

.results-button-box i {
    position: absolute;
    right: 75px;
    bottom: 77px;
    font-size: 30px;
    /* animation: mover 1s infinite alternate; */
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#results-button:hover {
    height: 180px;
    width: 270px;
    color: white;
    background: linear-gradient(50deg, #fc011fdc, #ff8b8be2);
}

#results-button:hover i {
    font-size: 40px;
    right: 60px;
    bottom: 72px;
}

#results-button:hover .results-text h2, #results-button:hover i {
    animation: wiggle 2s infinite;
}

#add-button{
    border:none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 260px;
    border-top-right-radius: 90%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.75);
    background: linear-gradient(300deg, #fcfcfc, #dfdfdf);
    animation: glow 2s;
}

.add-button-text h2 {
    font-family: Montserrat;
    font-size: 40px;
    margin: 0;
    padding: 0;
    width: min-content;
    height: fit-content;
    position: absolute;
    right: 80px;
    bottom: 20px;
}

.add-button-box i {
    position: absolute;
    left: 25px;
    top: 80px;
    font-size: 40px;
    /* animation: mover 1s infinite alternate; */
}

#add-button:hover {
    height: 180px;
    width: 270px;
    color: rgb(0, 0, 0);
    background: linear-gradient(270deg, #ffffffdc, #ffffff);
}

#add-button:hover i {
    font-size: 60px;
    left: 15px;
    top: 80px;
}

#add-button:hover .add-button-text h2, #add-button:hover i {
    animation: wiggle 2s infinite;
}

.recent-div {

    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #fdc782;
    color: rgb(50, 50, 50);
    padding: 10px;
    text-align: center;
    font-family: Montserrat;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    animation: glow 2s;
}

#recent-match-header {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

#recent-match {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.instructions-modal-body i{
    font-size: 20px;
}
.fa-heart-broken:hover{
    color: rgb(221, 34, 34);
}
.fa-heart:hover{
    color: green;
}

#instructions-modal{
    max-width: 600px;
    min-width: 350px;
    max-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

#modal-start-button {
    position:relative;
    font-size: 24px;
    font-family: Montserrat;
    border: none;
    background: #fdc782;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

#modal-start-button::before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 40px;
    height: 100%;
    border-radius: 10%;
    top: 0;
    left: -130%;
    border-radius: 10%;
    transform: skewX(-30deg);
    animation: slide 3s infinite;
}

#modal-start-button:hover, #modal-start-button:hover:before {
    background-color: white;
    color: #fdc782;
    animation: none;
    padding: 15px;
    bottom: 5px;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px; 
    font-family: Montserrat;
}

.error-container h2{
    font-size: 100px;
}

/*
 * Modal stuff
 */

 #modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  #add-item-modal {
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
    opacity: 0;
    transform: scale(1.2);
    transition: opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
    visibility: hidden;
  }

  #add-item-modal.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  
  .hidden {
    display: none;
  }
  
  .modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    border-radius: 15px;
    background: linear-gradient(150deg, #fdc782, #ffa42d);

  }
  
  .modal-header, .instructions-modal-header {
    position: relative;
    padding: 10px 20px;
  }

  .modal-header h3 {
    border-bottom: 0.1px solid rgb(100, 100, 100)
  }
  
  .modal-header h3 {
    margin: 0;
    margin-top: 20px;
    padding-bottom: 15px;
    font-size: 32px;
    font-family: Montserrat;
  }
  
  #modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  .modal-body {
    padding: 20px;
    padding-top: 5px;
  }
  
  .food-input-element {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .food-input-element > label {
    font-weight: 600;
    flex: 1 100px;
    margin-right: 10px;
  }
  
  .food-input-element input {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    font-family: Montserrat;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
  }
  
  #modal-cancel,
  #modal-accept {
    margin-right: 20px;
    width: 100px;
    height: auto;
    font-size: 20px;
    padding: 5px;
    font-family: Montserrat;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }

  #modal-accept:hover, 
  #modal-cancel:hover {
    background-color: rgb(255, 255, 255);
  }